<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Address</title>
</head>
<body>
    <form action="/addresses/entry" method="post">
        <label for="addressLineOne">Address Line 1:</label><br>
        <input type="text" id="addressLineOne" name="addressLineOne"><br>
        <label for="addressLineTwo">Address Line 2:</label><br>
        <input type="text" id="addressLineTwo" name="addressLineTwo"><br>
        <label for="city">City:</label><br>
        <input type="text" id="city" name="city"><br>
        <label for="county">County:</label><br>
        <input type="text" id="county" name="county"><br>
        <label for="postcode">Postcode:</label><br>
        <input type="text" id="postcode" name="postcode"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>